# Example Data Host Volume Mount #
data/*

# ignore any python cache
*.pyc

# DigitalOcean Provisioning #
do-provision.sh
minecraft/backup.sh

# don't allow checkin of private config
config.yml
diamondsfordays.json
